/* font family */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--pfont);
}

body {
  overflow-x: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Change from scroll to auto */
}

:root {
  /* Fonts */
  --mainfont: "Orbit", "Poppins", sans-serif;
  --title: "Montserrat", "Poppins", sans-serif;
  --subtitle: "MuseoModerno", "Poppins", sans-serif;
  --pfont: "Courier New", Courier, monospace;
  --name: "Kumbh Sans", sans-serif;

  /* colors */
  --primary: #bfeede;
  --dark: #162642;
  --light: #fdefd3;
}
